<div>
	<button class="flex justify-center mb-3 w-full font-bold md:hidden text-text-primary text-2xl" id="menu-toggle">
		☰
	</button>

	<nav>
		<ul class="hidden flex-col absolute justify-start items-center bg-page-bg gap-5 text-xl h-full w-full md:flex md:static md:flex-row md:mb-3 md:h-8 md:w-full md:gap-1 md:justify-around md:text-[14px] md:items-center md:mt-2 lg:text-lg" id="menu">
			<li class="no-underline hover:underline text-text-primary h-[30px]"><a href="index.html">Home</a></li>
			<li class="no-underline hover:underline text-text-primary h-[30px]"><a href="about.html">About</a></li>
			<li class="no-underline hover:underline text-text-primary h-[30px]"><a href="projects.html">Projects</a></li>
			<li class="no-underline hover:underline text-text-primary h-[30px]"><a href="hobbies.html">Hobbies</a></li>
			<li class="no-underline hover:underline text-text-primary h-[30px]"><a href="contact.html">Contact</a></li>
			<button class="border-[3px] border-border border-solid rounded-xl p-1 text-text-primary hover:bg-btn-text" id="btn-theme">Lights on·off</button>
		</ul>
	</nav>
</div>