---
import Layout from '../layouts/Layout.astro';
import MyInput from '../components/UI-React/input.tsx';
---

<Layout>
	<main class="main-container">
		<section class="flex m-4 h-[90vh] justify-center items-center mt-2 flex-col gap-5 border-[3px] border-border p-8 border-dashed rounded-lg">
			<img src="src/assets/media/me_.JPG" alt="me" class="cursor-pointer w-[175px] h-[175px] rounded-full sm:w-[185px] sm:h-[185px] md:w-[200px] md:h-[200px] lg:w-[240px] lg:h-[240px]">
			<h1 class="text-lg sm:text-xl md:text-2xl text-center lg:text-4xl font-bold text-text-primary">Hi, I'm Adilkhan.</h1>
			<p class="text-xs sm:text-sm md:pl-[150px] md:pr-[150px] md:text-base lg:text-lg lg:pl-[220px] lg:pr-[220px] text-gray-500">
				A <strong>full-stack & game developer</strong> who loves exploring the world, pushing creative limits, and leveraging AI to craft mind-blowing digital experiences.
			<p class="text-xs sm:text-sm md:pl-[150px] md:pr-[150px] md:text-base lg:text-lg lg:pl-[220px] lg:pr-[220px]  text-gray-500">
				<strong>Let's create</strong> something incredible together – and maybe even swap a few travel stories while we're at it!
			</p>
		</section>
	</main>
</Layout>