---
import Layout from '../../layouts/Layout.astro';
import Hobby from '../../components/Hobby.astro';
---

<Layout>
	<h1 class="text-gray-500 text-[30px] ml-2 sm:text-[36px] md:text-[48px]">Hobbies.</h1>
	<main>
		<section class="flex flex-col h-[90vh] justify-between items-center p-2 gap-3">
			<Hobby />
		</section>
	</main>
</Layout>